html {
	min-width: 250px;
}

body {
	font-family: 'Anonymous Pro', monospace;
	color: #168007;
	background: #000000;
	border-radius:6px;
	font-size: 16px;
	padding: 0 0 0 3px;
}

button {
	color: #c0c0c0;
	border: 0px;
	background-color: #363636;
	padding-top:12px;
	padding-bottom:12px;
	padding-right:18px;
	padding-left:18px;
}

#bg-opacity,#font_size,#font_family,#style_right,#style_top {
	background-color: #202020;
	border: 0;
	border-radius: 3px;
	color: #168007;
	font-family: 'Anonymous Pro', monospace;
	font-size: 16px;
	width: 160px;
}

.color {
	background-color: #292929;
}
